/* You can a"dd global styles to this file, and also import other style files */
@use "./config-scss/variavel.scss";
@use "./config-scss/reset.scss";
@use "./config-scss/rem-calc.scss";

html{
  background-color: var(--primary-color);
}
main {
  max-width: rem-calc(420);
  margin: 0 auto;
  box-sizing: border-box;
}
