/* You can a"dd global styles to this file, and also import other style files */
@import "./config-scss/variavel.scss";
@import "./config-scss/reset.scss";
@import "./config-scss/rem-calc.scss";

html {
  background-color: var(--primary-color);
}
main {
  width: rem-calc(420);
  margin: 0 auto;
  box-sizing: border-box;
}
